# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/arcirk/src/cmake-build-release/
/arcirk/src/cmake-build-debug/
/arcirk/src/server/x64/
/old/arcirk/cmake-build-debug/
/old/cmake-build-release/
/old/cmake-build-debug/
/old/server/cmake-build-debug/
/old/server/x64/
/old/client/cmake-build-debug/
/old/1c/admin/data/1Cv8Log/
/old/client/console/cmake-build-debug/
/old/client/console/x64/

*.cfl
*.1cl
*.cgr
/old/soci/
/old/server/soci/
/old/1c/admin/data/1Cv8JobScheduler/
.idea
/cmake-build-debug/
/old/wscore/cmake-build-debug/
/old/wsClient/cmake-build-debug/
/old/1c/admin/data/1Cv8tmp.1CD
/json/
/old/bin/
/old/client/console/ssl/
/old/server/tests/x64/
/old/server/tests/cmake-build-debug/
/old/client/tests/x64/
/old/client/tests/cmake-build-debug/
/old/server_new/cmake-build-debug/
/old/server_new/x64/
/old/client_new/cmake-build-debug/
/old/client_test/cmake-build-debug/
/old/client_test/console/cmake-build-debug/
/arcirk/cmake-build-debug/
/client/x64/
/client/console/cmake-build-debug/
/client/cmake-build-debug/
/ws_addin/cmake-build-debug/
/server/cmake-build-debug/
/server/x64/
/bin/
/client/console/x64/
