# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/arcirk/src/cmake-build-release/
/arcirk/src/cmake-build-debug/
/arcirk/src/server/x64/
/src/arcirk/cmake-build-debug/
/src/cmake-build-release/
/src/cmake-build-debug/
/src/server/cmake-build-debug/
/src/server/x64/
/src/client/cmake-build-debug/
/src/1c/admin/data/1Cv8Log/
/src/client/console/cmake-build-debug/
/src/client/console/x64/

*.cfl
*.1cl
*.cgr
/src/soci/
/src/server/soci/
/src/1c/admin/data/1Cv8JobScheduler/
.idea
/cmake-build-debug/
/src/wscore/cmake-build-debug/
/src/wsClient/cmake-build-debug/
/src/1c/admin/data/1Cv8tmp.1CD
/json/
/src/bin/
/src/client/console/ssl/
/src/server/tests/x64/
/src/server/tests/cmake-build-debug/
/src/client/tests/x64/
/src/client/tests/cmake-build-debug/
/src/server_new/cmake-build-debug/
/src/server_new/x64/
/src/client_new/cmake-build-debug/
/src/client_test/cmake-build-debug/
/src/client_test/console/cmake-build-debug/
/arcirk/cmake-build-debug/
/client/x64/
/client/console/cmake-build-debug/
/client/cmake-build-debug/
/ws_addin/cmake-build-debug/
/server/cmake-build-debug/
/server/x64/
/bin/
/client/console/x64/
/1c/admin/data/1Cv8tmp.1CD
/1c/admin/data/1Cv8Log/
/1c/admin/data/1Cv8IntegSrvc/
/ws_addin/cmake-build-debug_86/
/ws_addin/cmake-build-release/
/ws_addin/cmake-build-release_86/
/cmake-build-debug_86/
/cmake-build-release/
/cmake-build-release_86/
/cmake-build-debug-x86/
/1c/admin/data/1Cv8JobScheduler/
